<a href="<?php echo $this->url('baseball', array('controller' => 'categoria', 'action' => 'edit'));?>">Incluir</a><br />
<table>
    <?php echo $this->partialloop('categoria.phtml', $this->rows);?>
</table>
<a href="<?php echo $this->url('baseball', array('controller' => 'jogador'));?>">Voltar</a>