<tr>
    <td><a href="<?php echo $this->url('baseball', array('controller' => 'categoria', 'action' => 'edit', 'key' => $this->codigo));?>"><?php echo $this->codigo;?></a></td>
    <td><?php echo $this->descricao;?></td>
    <td><a href="<?php echo $this->url('baseball', array('controller' => 'categoria', 'action' => 'delete', 'key' => $this->codigo));?>">Excluir</a></td>
</tr>