<?php
use Baseball\Model\Categoria;
?>
<tr>
    <td><a href="<?php echo $this->url('baseball', array('controller' => 'jogador', 'action' => 'edit', 'key' => $this->inscricao));?>"><?php echo $this->inscricao;?></a></td>
    <td><?php echo $this->nome;?></td>
    <td><?php echo ($this->categoria instanceof Categoria) ? $this->categoria->offsetGet('descricao') : '';?></td>
    <td><a href="<?php echo $this->url('baseball', array('controller' => 'jogador', 'action' => 'delete', 'key' => $this->inscricao));?>">Excluir</a></td>
</tr>